# logs
files/blcmm_logs

# cache
__pycache__/

# packaged mods
files/Win32/Mods/AsyncUtil
files/Win32/Mods/BackpackManager
files/Win32/Mods/ModMenu
files/Win32/Mods/Quickload
files/Win32/Mods/ReadOnly
files/Win32/Mods/SkillRandomizer
files/Win32/Mods/UserFeedback

# packaged files
files/Win32/Mods/*.*

# ignore BL2Fix except settings
files/Win32/Mods/BL2Fix/*
!files/Win32/Mods/BL2Fix/settings.json

# ignore MissionSelector except mod files
files/Win32/Mods/MissionSelector/*
!files/Win32/Mods/MissionSelector/__init__.py

# ignore SkillToggles settings
files/Win32/Mods/SkillToggles/settings.json

# ignore additional mods not belonging to the modpack
files/Win32/Mods/ApplesBorderlandsCheats

# misc
files/Win32/Mods/BSABT/spawnpoint.json
